.Container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .Container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Container {
    width: 1170px;
  }
}

.Container-inner {
  padding: 15px;
}
