.List {
  list-style: none;
  padding: 0;
}

.ListItem {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 60px;
}

.ListItem-href {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  color: black;
  text-decoration:  none;
  border: none;
}

.ListItem-href:visited, .ListItem-href:active, .ListItem-href:focus {
  color: inherit;
  outline: 0;
}

.ListItem .ListIcon {
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ListItem-Item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ListItem-inset {
  margin-left: 49px;
}

.ListItem-nested-holder {
  margin-left: 20px;
}

.ListItem-text-holder {
  display: flex;
  flex-direction: column;
}

.ListItem-primary-text {
}

.ListItem-secondary-text {
  margin-top: 1px;
  font-size: 85%;
  color: rgba(0, 0, 0, 0.54);
}

.ListSubheader {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.54);
}

.ListDivider {
  height: 1px;
  border: medium none;
  background-color: rgb(224, 224, 224);
}

.ListDivider.ListDivider-inset {
  margin-left: 59px;
}
